*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    content: " "
     margin: 0;
}

html,
body {
    heigth: 100%;
}

body {
    line-height: var(--line-height-normal);
    -webkit-font-smoothig: antialiased;
    -moz-osx-font-smoothig: grayscale;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#_next {
    isolation: isolate;
}

ul[role='list']
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    color: var(--line-text-normal);
    background-color: var(--color-background-);
}